.crowdsale {
    background-color: #fff;
    padding: 90px 0;
    &-title {
        font-weight: bold;
        text-align: center;
        font-size: 30px;
        padding-bottom: 30px;
    }
}

/*body{
    font-family: 'open sans';
    margin: 0;
}*/
.crowdsale-ul{
    list-style-type: none;
    padding-left: 0;
    display: flex;
}
.crowdsale-li{
    padding: 22px;
    border: 2px solid rgb(30,134,255);
    margin-right: 5px;
    border-radius: 5px;
    cursor: pointer;
}
.crowdsale-li:hover{
    background-color: rgb(30,134,255);
    color: white;
}
.crowdsale-li:active{
    opacity: 0.7;
}
*{
    color: #444444;
}
.main-container{
    padding: 40px;
}
.block{
    display: flex;
    align-items: center;
}
.number-selected{
    background-color: rgb(30,134,255);
    color: white;
}
.bet-input{
    padding: 5px;
    border-radius: 5px;
    border: 1px solid lightgrey;
    //border-bottom: 2px solid red;
    font-size: 10pt;
    margin: 0 10px;
}
